:root {
    --main-background-color :#272a31;
    --main-text-color: #d3d3d3
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sub-header {
    display: none;
}

.desktop-prog {
    display: none;
}

.desk-btn {
    display: none;
}

.logo {
    display: none;
}

.header-links {
    display: flex;
}

.humburger {
    cursor: pointer;
    margin: 40px 30px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-background-color);
  }

  .humburger.active {
    background: rgba (18, 18, 19, 0.7);
    cursor: pointer;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
    position: fixed;
    background-color: #f0efef;
    z-index: 1;
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    position: fixed;
    background-color: #f0efef;
    z-index: 1;
  }

.nav-links.active {
    left: 0;
}

.nav-links {
    position: fixed;
    top: 1;
    left: -100rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--main-background-color);
    height: 100vh;
    width: 100%;
    padding: 100px 42px;
    transition: 0.5 ease-in-out;
    list-style-type: none;
    mix-blend-mode: multiply;
    backdrop-filter: blur(8px);
}

.header-text {
    margin: 40px 1em 0;
}

.header-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    text-transform: capitalize;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 54px;
    color: #ef513c;
    -webkit-background-clip: text;
}


.header-description {
  border: 3px rgb(172, 170, 170) solid;
  padding: 16px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.event-time {
    color: gray;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.event-location {
    color: rgb(41, 39, 39);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 40px;
}

.about-logo {
    display: flex;
    justify-content: center;
    border: 1px solid #bdbdbe;
    margin: 20px 20% 0 20%;
}

.about-logo img {
    width: 150px;
    height: 150px;
    align-items: center;
    transition: width 2s, height 2s;
}

.about-logo img:hover {
    width: 50%;
    height: auto;
}

.logo-line {
    margin-top: 20px;
}

.see-past {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-align: center;
}

.see-past-line {
    width: 50px;
    height: 1px;
    align-self: center;
    background-color: #ef513c;
}

.free-sub {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.img-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.img-post-fest {
  width: 70%;
  height: auto;
  transition: width 2s, height 2s;
}

.img-post-fest:hover {
    width: 80%;
    height: auto;
  }

.partners-cont {
    background-color: var(--main-background-color);
}

.partners-title {
    color: #f0efef;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.partner-line {
    width: 40px;
    height: 1px;
    align-self: center;
    background-color: #ef513c;
}

.partners-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.partners-cont img {
    width: 100px;
    align-self: center;
    padding-left: 30px;
}

.footer-cont {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-cont img {
    width: 100px;
}

.footer-p {
    margin-left: 20px;
}

@media (min-width: 768px) {
    .humburger {
        display: none;
    }

    .cards {
        display: none;
    }

    .main-program button {
        display: none;
    }


    .header-links {
        display: flex;
        justify-content: space-between;
        background-color: #ffff;
    }


    .header-links ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 20px;
        margin-right: 80px;
    }

    .header-links a {
        color: var(--main-background-color);
        text-decoration: none;
        font-weight: 500;
        font-family: Lato, sans-serif;
    }

    .header-links a:hover {
        color: #ef513c;
    }

    .header-links li {
        padding-top: 15px;
    }

    .header-links img {
        width: 150px;
        height: 70px;
        margin-left: 100px;
    }

    .partners-img {
        display: flex;
    }

    .sub-header {
        background-color: var(--main-background-color);
        height: 40px;
        display: block;
        position: fixed;
        width: 100%;
    }

    .sub-header ul {
       display: flex;
       justify-content: flex-end;
       list-style: none;
       gap: 15px;
       margin-right: 16px;
    }

    .sub-header a {
        text-decoration: none;
        color: #f0efef;
    }

    .img-post {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
        gap: 2%;
    }

    .img-post-fest {
        width: 40%;
        height: auto;
    }
}