@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@400;500;700&display=swap');

:root {
    --main-background-color :#272a31;
    --main-text-color: #d3d3d3
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.sub-header {
    display: none;
}

.desktop-prog {
    display: none;
}

.desk-btn {
    display: none;
}

.logo {
    display: none;
}

.header-links {
    display: flex;
}

.humburger {
    cursor: pointer;
    margin: 40px 30px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--main-background-color);
  }

  .humburger.active {
    background: rgba (18, 18, 19, 0.7);
    cursor: pointer;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
    position: fixed;
    background-color: #f0efef;
    z-index: 1;
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    position: fixed;
    background-color: #f0efef;
    z-index: 1;
  }


.nav-links.active {
    left: 0;
}

.nav-links {
    position: fixed;
    top: 1;
    left: -100rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--main-background-color);
    height: 100vh;
    width: 100%;
    padding: 100px 42px;
    transition: 0.5 ease-in-out;
    list-style-type: none;
    mix-blend-mode: multiply;
    backdrop-filter: blur(8px);
}

.header-text {
    margin: 40px 1em 0;
}

.header-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    text-transform: capitalize;
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 54px;
    color: #ef513c;
    -webkit-background-clip: text;
}

.header-description {
  background-color: #f0efef;
  border: 3px white solid;
  padding: 16px;
  line-height: 1.5;
  font-family: Lato, sans-serif;
}

.event-time {
    color: gray;
    font-size: 32px;
    font-weight: 900;
}

.event-location {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

.main-program {
  background-color: rgb(39, 42, 50);
  color: var(--main-text-color);
  text-align: center;
  padding-top: 20px;
}

.main-program hr {
    width: 40px;
    align-self: center;
    background-color: #ef513c;
}

.cards {
    display: grid;
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(255, 255, 255, 0.1);
    margin: 16px;
}

.cards img {
    width: 50px;
    height: 50px;
    margin: 16px;
}

.cards .card-title {
    width: 50px;
    color: #ef513c;
    text-align: center;
    padding-top: 15px;
    padding-left: 0px;
    margin-left: 0px;
}

.card-details {
    width: 200px;
    text-align: start;
    padding-right: 5px;
}

.main-program button {
    background-color: #ef513c;
    color: #f0efef;
    align-self: center;
    width: 200px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.speakers-heading {
    text-align: center;
    padding-top: 20px;
}

.speakers-section hr {
    width: 50px;
    align-self: center;
    background-color: #ef513c;
}

.speakers {
    display: flex;
    margin-top: 30px;
}

.speakers img {
    width: 130px;
    height: 130px;
    margin-top: 28px;
    margin-left: 10px;
}

.speaker-info {
    margin-left: 16px;
}

.partners-cont {
    background-color: var(--main-background-color);
}

.partners-title {
    color: #f0efef;
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    font-family: Lato, sans-serif;
    font-weight: 500;
}

.partner-line {
    width: 40px;
    height: 1px;
    align-self: center;
    background-color: #ef513c;
}

.partners-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.partners-cont img {
    width: 100px;
    align-self: center;
    padding-left: 30px;
}

.footer-cont {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-cont img {
    width: 100px;
}

.footer-p {
    margin-left: 20px;
}

@media (min-width: 768px) {
    .humburger {
        display: none;
    }

    .cards {
        display: none;
    }

    .main-program button {
        display: none;
    }


    .header-links {
        display: flex;
        justify-content: space-between;
        background-color: #ffff;
    }


    .header-links ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        gap: 20px;
        margin-right: 80px;
    }

    .header-links a {
        color: var(--main-background-color);
        text-decoration: none;
        font-weight: 500;
        font-family: Lato, sans-serif;
    }

    .header-links a:hover {
        color: #ef513c;
    }

    .header-links li {
        padding-top: 15px;
    }

    .header-links img {
        width: 150px;
        height: 70px;
        margin-left: 100px;
    }

    .partners-img {
        display: flex;
    }

    .sub-header {
        background-color: var(--main-background-color);
        height: 40px;
        display: block;
    }

    .sub-header ul {
       display: flex;
       justify-content: flex-end;
       list-style: none;
       gap: 15px;
       margin-right: 16px;
    }

    .sub-header li {
        padding-top: 10px;
    }

    .sub-header a {
        text-decoration: none;
        color: #f0efef;
    }

    .desk-btn {
        display: block;
        margin-top: 40px;
        color: #f0efef;
        font-family: Lato, sans-serif;
    }

    .speakers-cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-program {
        height: 400px;
    }

    .desktop-prog {
        display: flex;
        gap: 10px;
        margin: 20px 40px 0 40px;

    }

    .dskcards {
        background-color: rgb(255, 255, 255, 0.1);
    }

    .dskcards img {
        width: 30px;
        height: 30px;
    }

    

}